

.carousel-img {
  height: 400px;
  width: 100%;
}


/* thông báo */


.btn_view{
  outline: none; 
  background-color:transparent; 
  border: none;
  margin-right: 20px;
}
button.btn_download{
  outline: none;
  background-color: transparent;
  border: none;
}
.btn_download :hover {
  color: blue;
}

.btn_luu {
  height: 32px;
  margin-right: 10px;
  border: 1px solid #cccc;
  border-radius: 4px;
  min-width: 70px !important;
  background-color: forestgreen;
  color: white;
}
.btn-close {
  height: 32px;
  margin-right: 10px;
  border: 1px solid #cccc;
  border-radius: 4px;
  min-width: 70px !important;
  background-color: white;
  color: black;
}

.btn-close:hover {
  background-color: #cccc;
}

.btn_luu:hover {
  background-color: #47d864;
}

.text_name_file,
.text_name_pdf {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  padding-left: 10px;
}

.error {
  position: relative;
  color: #DF0029;
  font-size: 14px;
  font-weight: 400;
  top:6px;
  left: 10px;
}
